.card >img {
    height: 20vh;
}
.card {
    background: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
}
.productsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.card > .btn-div{
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    width: 100%;
}

.card > h4 {
    font-size: 1rem
}
.card > h5{
    font-size: 1.5rem;
    margin-bottom: 4rem;
} 
.btn {
    border: none;
    outline: none;
    background: #764abc;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #513282;
}

.heading {
    padding: 25px 0;
}
.cartCount {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 40px;
}
.navLink {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}


@media screen and (max-width:600px) {
    .productsWrapper {
        display: grid;
        grid-template-columns:  1fr;
        gap: 30px;
    }
}